<app-header></app-header>

<!-- <div class="consultantOptions">
    <ul>
        <li><a (click)="ShowDiv('A')">Are you a NH Consultant?</a></li>
        <li><a (click)="ShowDiv('B')">Are you looking for NH Consultant ?</a></li>
    </ul>
</div> -->

<div class="contactContainer" *ngIf="currDiv == 'A'">
    <form name="addConsultantForm" [formGroup]="addConsultantForm" novalidate autocomplete="off">
      <h1>Register as NH Consultant</h1>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Name" required>
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="!addConsultantForm?.get('name')?.valid">
            Please enter correct name
        </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Email Id</mat-label>
          <input matInput formControlName="email" placeholder="Email" required>
          <mat-icon matSuffix>drafts</mat-icon>
          <mat-error *ngIf="!addConsultantForm?.get('email')?.valid">
            Please enter correct email id
        </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Phone</mat-label>
          <input formControlName="phone" matInput placeholder="Phone" required>
          <mat-icon matSuffix>call</mat-icon>
          <mat-error *ngIf="!addConsultantForm?.get('phone')?.valid">
            Please enter correct phone
        </mat-error>
        </mat-form-field>
<!-- 
        <mat-form-field>
          <mat-label>Subject</mat-label>
          <input matInput formControlName="subject" placeholder="Subject" required>
          <mat-icon matSuffix>create</mat-icon>
          <mat-error *ngIf="!addConsultantForm?.get('subject')?.valid">
            Please enter correct subject
        </mat-error>
        </mat-form-field> -->

        <mat-form-field>
          <mat-label>Address</mat-label>
          <textarea matInput formControlName="address" placeholder="Address" required></textarea>
          <mat-icon matSuffix>map</mat-icon>
          <mat-error *ngIf="!addConsultantForm?.get('address')?.valid">
            Please enter correct address
        </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Experience</mat-label>
          <textarea matInput formControlName="experience"
                    placeholder="Brief Your experience as NH Consultant" required></textarea>
          <!-- <mat-icon matSuffix>map</mat-icon> -->
          <mat-error *ngIf="!addConsultantForm?.get('experience')?.valid">
            Please enter correct experience
          </mat-error>
        </mat-form-field>

        <button type="button" mat-raised-button class="btn-custom" 
                [disabled]="!addConsultantForm.valid" (click)="addConsultant()">
                Send Now 
                <i class="material-icons">
                  send
                </i>
        </button>
      </form>
</div>

<div class="tableContainer" *ngIf="currDiv == 'B'">

  <div [formGroup]="stateList"> 
    <mat-form-field >
      <mat-select #select placeholder="Select State" formControlName="state" (selectionChange)="applyFilter($event.value)">
        <mat-option *ngFor="let state of states" [value]="state">
          {{state}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  
    
    <div class="mat-elevation-z8 consultants-table-content">

      
    
        <table mat-table [dataSource]="consultantDatasource" matSortActive="date" matSortDirection="desc" matSort>
    
            <!-- Consultant id Column -->
            <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> CONSULTANT ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
    
            <!-- consultant name Column -->
            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CONSULTANT NAME </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
    
            <!-- consultant phone Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MOBILE NO </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>
    
            <!-- consultant email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
    
            <!-- consultant address Column -->
            <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ADDRESS </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
    
            <!-- consultant state Column -->
            <!-- <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> STATE </th>
                <td mat-cell *matCellDef="let element"> {{element.state}} </td>
            </ng-container> -->
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <div *ngIf="!consultantDatasource.data.length" class="no-record-status">
            No Records Found.
        </div> 
    
        <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons>
        </mat-paginator>
    </div>
    
</div> 

<app-footer></app-footer>