* {
    box-sizing: border-box;
}

.flex-right {
    flex: 1 1 auto;
}

.m-1 {
    margin: 1%;
}

.mat-toolbar {
    background-color: rgba(91, 51, 149, 0.7) !important;
    position: fixed;
    height: 80px;
    left: 0;
    top: 0;
    z-index: 999;
}

.mat-toolbar a {
    text-decoration: none;
    color: #fff;
    // text-transform: uppercase;
}

.mat-toolbar .menuHeaderText {
    font-size: 40px;
    color: #fff;
}

.homeMain {
    width: 100%;
    height: auto;
    background-color: #fff;
    // background-image: url(../../../assets/bg2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    background-color: transparent;
    background-image: linear-gradient(160deg, #7966E0 34%, #CD4D87 100%);
    opacity: 0.87;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    width: 100%;
    height: auto;
    min-height: 300px;
}

.overlayCont h1{
    font-size: 40px;
    text-align: center;
    color: #fff;
    padding-top: 170px;
    text-transform: uppercase;
    font-weight: bold;
}

.tableContainer{
    background-color: #eee;
    overflow: auto hidden;
    padding: 20px;
}

.tableContainer mat-form-field{
    width: 100%;
    max-width: 300px;
}

.tableContainer table{
    width: 100%;
}

table th , table td{
    text-align: left;
    padding: 10px;
}

table tr:nth-child(even){
    background-color: #e4e3e3
}

th {
  background: #333;
  color: #fff;
}


.pagination {
  margin: 0;
}

.pagination li:hover{
    cursor: pointer;
}

.header_wrap {
  padding:30px 0;
}
.num_rows {
  width: 20%;
  float:left;
}
.tb_search{
  float:right;
}
.pagination-container {
  width: 70%;
  float:left;
}

.rows_count {
  width: 20%;
  float:right;
  text-align:right;
  color: #999;
}


.header_wrap{
    padding: 30px 20px;
    width: 100%;
    overflow: hidden;
}

.consultantOptions{
    width: 100%;
    background-color: #f5f5f5;
}

.consultantOptions ul{
    padding: 0;
    width: 100%;
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
}

.consultantOptions ul li{
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 50px;
}

.consultantOptions ul li a{
    display: block;
    width: 100%;
    height: 100%;
    box-shadow: -2px 2px 10px -5px rgb(0 0 0 / 50%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0;
    --e-column-margin-right: 55px;
    --e-column-margin-left: 55px;
    padding: 40px 40px 40px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    color: rgba(51,51,51,1);
    line-height: 1.2;
    font-weight: 500;
    cursor: pointer;
    background-color: #fff;
}

.mat-form-field{
    display: block;
}

.contactContainer{
    padding: 20px;
}

.contactContainer form{
    padding: 20px;
    max-width: 400px;
    margin: 30px auto;
    border: 1px solid #222;
    border-radius: 5px;
}

@media(max-width:768px){
    
.consultantOptions ul{
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.consultantOptions ul li{
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 20px;
}

}