<h1 mat-dialog-title>
  {{ data?.header }}
</h1>

<div mat-dialog-content>
  {{
    data?.content ||
      "Content: Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
  when an unknown printer took a galley of type and scrambled it to make a type specimen book."
  }}
</div>
<div mat-dialog-actions>
  <button
    mat-raised-button
    color="primary"
    (click)="closeDialog('ok')"
    cdkFocusInitial
  >
    Ok
  </button>
</div>
