.form-width {
  .mat-form-field {
    width: 80%;
    padding-bottom: 2%;
  }

  .mat-radio-group {
    width: 80%;
    padding-bottom: 2%;
  }

  .mat-radio-button {
    padding: 1%;
  }
}

.file-div {
  width: 80%;
  padding-bottom: 2%;
}

.info-label {
  display: flex;
  align-items: center;
  mat-icon {
    margin-left: 5px;
  }
}
