<div fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap="24px">
  <div></div>
  <div style="padding: 10px">
    <h2>How To Use</h2>
    <div class="stepper">
      <div class="step">
        <img src="./../../../assets/steps/SS1.png" alt="step 1" />
        <h4>Step 1</h4>
        <ul>
          <li>Give the basic Information about the property</li>
          <li>Mention the Nearby Cities on LHS & RHS of your plot</li>
          <li>
            Take the longitude & Latitude of the plot while standing at the
            respective edge of the plot.
          </li>
        </ul>
      </div>
      <mat-icon class="forward">arrow_forward</mat-icon>
      <div class="step">
        <img src="./../../../assets/steps/SS2.png" alt="step 2" />
        <h4>Step 2</h4>
        <ul>
          <li>Provide Plot Dimension & Pictures</li>
        </ul>
      </div>
      <mat-icon class="forward">arrow_forward</mat-icon>
      <div class="step">
        <img src="./../../../assets/steps/SS3.png" alt="step 3" />
        <h4>Step 3</h4>
        <ul>
          <li>Provide any 2 Kilometer stone numbers</li>
          <li>Provide the distance from the edge of the plot</li>
        </ul>
      </div>
      <mat-icon class="forward">arrow_forward</mat-icon>
      <div class="step">
        <img src="./../../../assets/steps/SS4.png" alt="step 4" />
        <h4>Step 4</h4>
        <ul>
          <li>Drag & drop Different road elements</li>
          <li>Mention the distance from the plot edge</li>
        </ul>
      </div>
      <mat-icon class="forward">arrow_forward</mat-icon>
      <div class="step">
        <img src="./../../../assets/steps/SS5.png" alt="step 5" />
      </div>
    </div>
  </div>
  <div class="MRGB20PX">
    <button
      mat-raised-button
      color="primary"
      aria-label="survey start key"
      [routerLink]="['/user/survey']"
    >
      Start Survey
    </button>
  </div>
</div>
