<h1 mat-dialog-title>
    FORGOT PASSWORD
</h1>

<form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate autocomplete="off">
    <div mat-dialog-content>
        
        <div *ngIf="serverError.length" class="error"> {{ serverError }} </div>

        <div fxLayout="column">

            <div class="form1" [@slideInOut]="viewForm1">
            
                <!-- Email starts -->
                <div>
                    <mat-form-field>
                        <mat-label>Email/Phone</mat-label>
                        <input matInput formControlName="email_phone" (focus)="removeServerError()">
                        <mat-error *ngIf="!forgotPasswordForm?.get('email_phone')?.valid">
                            Please enter correct email
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- Email ends -->
            </div>

            <div class="form2" [@slideInOut]="viewForm2">

                <!-- Phone Email otp starts -->
                <div>
                    <div>
                        <mat-form-field>
                            <mat-label>Email/Phone OTP</mat-label>
                            <input matInput formControlName="phone_email_Otp" (focus)="removeServerError()">
                            <mat-error *ngIf="!forgotPasswordForm?.get('phone_email_Otp')?.valid">
                                Please enter correct otp
                            </mat-error>
                        </mat-form-field>
                    </div>
                     <!-- Password starts -->
                    <div>
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password" (focus)="removeServerError()">
                            <mat-error *ngIf="!forgotPasswordForm?.get('password')?.valid">
                                Please enter correct password
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- Password ends -->

                    <!-- Confirm password starts -->
                    <div>
                        <mat-form-field>
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" matInput formControlName="confirmPassword" (focus)="removeServerError()"
                                [errorStateMatcher]="crossFieldMatcher">
                            <mat-error *ngIf="forgotPasswordForm.errors?.mismatch">
                                Please enter matched password
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- Confirm password ends -->
                    <div>
                        <button type="button" mat-button *ngIf="whichForm === 2" (click)="sendEmailOtp()">
                            Resend Email OTP
                        </button>
                    </div>
                </div>
                <!-- Email otp ends -->
            </div>
        </div>
    </div>

    <div mat-dialog-actions>
        <button type="button" mat-raised-button color="primary" [disabled]="forgotPasswordForm.invalid"
                (click)="handleForms()">
            Submit
        </button>
        <button type="button" mat-raised-button color="basic" mat-dialog-close>
            Cancel
        </button>
    </div>
</form>
