
<div class="mat-elevation-z8 users-table-content">

    <button type="button" mat-raised-button color="primary" (click)="addUser()">
        Add User
    </button>

    <table mat-table [dataSource]="userDatasource" matSortActive="date" matSortDirection="desc" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> USER ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> USERNAME </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MOBILE NO </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL ID </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- property Column -->
        <ng-container matColumnDef="wallet">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> WALLET BALANCE </th>
            <td mat-cell *matCellDef="let element"> {{element.wallet}} </td>
        </ng-container>

        <ng-container matColumnDef="addCoin">
            <th mat-header-cell *matHeaderCellDef> UPDATE WALLET </th>
            <td mat-cell *matCellDef="let row">
                <button type="button" mat-icon-button
                        (click)="handleWalletUpdate(row, $event)">
                    <mat-icon>payments</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="editUser">
            <th mat-header-cell *matHeaderCellDef> EDIT </th>
            <td mat-cell *matCellDef="let row">
                <button type="button" mat-icon-button
                        (click)="handleEditUser(row, $event)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="deleteUser">
            <th mat-header-cell *matHeaderCellDef> DELETE </th>
            <td mat-cell *matCellDef="let row">
                <button type="button" mat-icon-button
                        (click)="handleDeleteUser(row, $event)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div *ngIf="!userDatasource.data.length" class="no-record-status">
        No Records Found.
    </div> 

    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons>
    </mat-paginator>
</div>