
<div class="footer">
    <div class="footerContainer">
        <ul class="footerList">
            <li class="footerListItem">
                <span [routerLink]="'../contact'" class="footerListItemText">Contact Us</span>
            </li>
            <li class="footerListItem">
                <span [routerLink]="'../disclaimer'" class="footerListItemText">Disclaimer</span>
            </li>
            <li class="footerListItem">
                <span [routerLink]="'../privacyPolicy'" class="footerListItemText">Privacy Policy</span>
            </li>
            <li class="footerListItem">
                <span [routerLink]="'../termsnconditions'" class="footerListItemText">Terms &amp; Conditions</span>
            </li>
            <li class="footerListItem">
                <a target="_blank" href="https://merchant.razorpay.com/policy/KUX7Glgru30SUG/refund" class="footerListItemText"> Refund Policy</a>
            </li>
            <li class="footerListItem">
                <a target="_blank" href="https://merchant.razorpay.com/policy/KUX7Glgru30SUG/shipping" class="footerListItemText"> Shipping Policy</a>
            </li>
            <!-- <li class="footerListItem">
                <span [routerLink]="'../support'" class="footerListItemText">Support</span>
            </li> -->
        </ul>

        <div class="divider"> </div>

        <div class="footerText">
            <p>© 2022<strong> Elix Techno Media Pvt Ltd</strong> | All Rights Reserved</p>
        </div>

    </div>
</div>