<app-header></app-header>
<div class="mainContent">
  <!-- <h1 align="center">Privacy Policy for Elix Techno Media Private Limited</h1> -->

  <p>
    This privacy policy sets out how ELIX TECHNO MEDIA PRIVATE LIMITED uses and
    protects any information that you give ELIX TECHNO MEDIA PRIVATE LIMITED
    when you use this website.
  </p>

  <p>
    ELIX TECHNO MEDIA PRIVATE LIMITED is committed to ensuring that your privacy
    is protected. Should we ask you to provide certain information by which you
    can be identified when using this website, and then you can be assured that
    it will only be used in accordance with this privacy statement.
  </p>

  <p>
    ELIX TECHNO MEDIA PRIVATE LIMITED may change this policy from time to time
    by updating this page. You should check this page from time to time to
    ensure that you are happy with any changes.
  </p>
  <br />

  <h2>We may collect the following information</h2>

  <ul>
    <li>Name and job title</li>
    <li>Contact information including email address</li>
    <li>Demographic information such as postcode, preferences and interests</li>
    <li>Other information relevant to customer surveys and/or offers</li>
  </ul>
  <br />

  <h2>What we do with the information we gather</h2>

  <p>
    We require this information to understand your needs and provide you with a
    better service, and in particular for the following reasons:
  </p>
  <ul>
    <li>Internal record keeping.</li>
    <li>We may use the information to improve our products and services.</li>
    <li>
      We may periodically send promotional emails about new products, special
      offers or other information which we think you may find interesting using
      the email address which you have provided.
    </li>
    <li>
      From time to time, we may also use your information to contact you for
      market research purposes. We may contact you by email, phone, fax or mail.
      We may use the information to customise the website according to your
      interests.
    </li>
  </ul>
  <p>
    We are committed to ensuring that your information is secure. In order to
    prevent unauthorised access or disclosure we have put in suitable measures.
  </p>

  <p>
    We will not sell, distribute or lease your personal information to third
    parties unless we have your permission or are required by law to do so. We
    may use your personal information to send you promotional information about
    third parties which we think you may find interesting if you tell us that
    you wish this to happen.
  </p>

  <p>
    If you believe that any information we are holding on you is incorrect or
    incomplete, please write to or email us as soon as possible, at the above
    address. We will promptly correct any information found to be incorrect.
  </p>
</div>

<app-footer></app-footer>
