<mat-toolbar>
  <a [routerLink]="'/'"><span class="menuHeaderText">NHAP</span></a>
  <span class="flex-right"></span>
  <div>
    <a [matMenuTriggerFor]="priceMenu">Services</a>

    <mat-menu #priceMenu>
      <button mat-menu-item [routerLink]="['../login']">
        <span>Site Feasibility Test</span>
      </button>
      <button mat-menu-item [routerLink]="['../consultant']">
        <span>Find a Consultant</span>
      </button>
      <button mat-menu-item [routerLink]="['../pricing']">
        <span>Pricing</span>
      </button>
    </mat-menu>
  </div>
  <button
    mat-raised-button
    color="accent"
    class="m-1"
    [routerLink]="'../login'"
  >
    Login
  </button>
  <!-- <button mat-raised-button color="accent" class="m-1" [routerLink]="'../signup'">Signup</button> -->
</mat-toolbar>

<div class="homeMain">
  <div class="overlay">
    <div class="overlayCont">
      <h1>{{ title }}</h1>
      <h2>{{ subTitle }}</h2>
    </div>
  </div>
</div>
